.Accueil {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background:
        linear-gradient(0deg, rgba(var(--color-r), var(--color-g), var(--color-b), 1) 0%, rgba(var(--color-r), var(--color-g), var(--color-b), 0) 30%),
        linear-gradient(180deg, rgba(var(--color-r), var(--color-g), var(--color-b), 1) 0%, rgba(var(--color-r), var(--color-g), var(--color-b), 0) 30%),
        url("https://images.pexels.com/photos/1568607/pexels-photo-1568607.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;

    &_topbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        &_left {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            .Texte_first {
                display: inline-block;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                height: 100%;
                white-space: nowrap;
                margin-left: -100px;
                animation: showup 8s infinite;
            }

            .Texte_two_span {
                width: 0px;
                animation: reveal 8s infinite;
                animation: slidein 8s infinite;
            }

            .Texte1 {
                font-family: $font-family;
                color: var(--text);
                font-size: 96px;
                letter-spacing: -4px;
                font-weight: 900;
            }

            .Texte2 {
                font-family: $font-family;
                color: var(--text);
                font-size: 64px;
                letter-spacing: -2px;
            }

            @keyframes showup {
                0% {
                    opacity: 1;
                }

                60% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }

            @keyframes slidein {
                0% {
                    margin-left: -800px;
                }

                10% {
                    margin-left: 124px;
                }

                80% {
                    margin-left: 124px;
                }

                100% {
                    margin-left: 124px;
                }
            }

            @keyframes reveal {
                0% {
                    opacity: 0;
                    width: 0px;
                }

                20% {
                    opacity: 1;
                    width: 0px;
                }

                30% {
                    width: 355px;
                }

                80% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                    width: 355px;
                }
            }

            &_logo {
                width: 200px;
                height: 200px;
                margin: 10px 0px 0px 10px;
                z-index: 1;

                .Logo {
                    width: 100%;
                    z-index: 1;
                }
            }
        }

        .navbar {
            display: none;
        }

        &_right {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            &_about {
                display: flex;
                justify-content: flex-end;
                width: 20vh;

                &_button {

                    &_space {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: linear-gradient(to top,
                                transparent 16%,
                                var(--link)16.01%,
                                var(--link)20%,
                                transparent 20.01%) no-repeat;
                        transition: all 200ms ease-out;
                        background-position: 50%;
                        background-size: 0% 100%;
                        padding-bottom: 10px;
                        cursor: pointer;

                        &:hover {
                            background-position: 50%;
                            transition: all 200ms ease-in;
                            background-size: 90% 100%;
                        }
                    }

                    .ButtonAbout {
                        white-space: nowrap;
                        font-family: $font-family-3;
                        font-size: 40px;
                        letter-spacing: -2px;
                        color: var(--link);
                    }
                }
            }

            &_contact {
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(to top,
                        transparent 16%,
                        var(--link)16.01%,
                        var(--link)20%,
                        transparent 20.01%) no-repeat;
                transition: all 200ms ease-out;
                background-position: 50%;
                background-size: 0% 100%;
                padding-bottom: 10px;
                cursor: pointer;

                &:hover {
                    background-position: 50%;
                    transition: all 200ms ease-in;
                    background-size: 90% 100%;
                }

                a {
                    text-decoration: none;
                    color: var(--link);
                    font-size: 40px;
                    letter-spacing: -2px;
                }
            }

            &_CV {
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(to top,
                        transparent 16%,
                        var(--link)16.01%,
                        var(--link)20%,
                        transparent 20.01%) no-repeat;
                transition: all 200ms ease-out;
                background-position: 50%;
                background-size: 0% 100%;
                padding-bottom: 10px;
                cursor: pointer;

                &:hover {
                    background-position: 50%;
                    transition: all 200ms ease-in;
                    background-size: 90% 100%;
                }

                a {
                    text-decoration: none;
                    color: var(--link);
                    font-size: 40px;
                }
            }

            .Linkedin {
                display: flex;
                width: 60px;
                padding-bottom: 2px;
            }

            .Github {
                display: flex;
                width: 60px;
                padding-bottom: 2px;
            }

            .Accueil_theme {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 2px;
            }
        }
    }

    &_page {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        width: 80%;
        margin: auto;
        transition: 1200ms ease-in;

        h1 {
            font-size: 96px;
            color: var(--text);
            letter-spacing: -6px;
        }

        .Div_fleche {
            display: flex;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border-radius: 20px;
            padding: 1% 2% 1% 2%;
            transition: 300ms ease-in;
            border: 1px solid var(--text);

            &:hover {
                background-color: var(--background);
                transition: 200ms ease-in;
                -webkit-box-shadow: 5px 5px 20px -2px black;
                box-shadow: 5px 5px 20px -2px black;
            }

            .Fleche {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                &_img {
                    display: flex;
                    justify-content: flex-start;
                    width: 4vw;

                    .Arrow {
                        width: 80%;
                    }
                }

                .Project {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Libre Baskerville', serif;
                    font-weight: bold;
                    font-size: 56px;
                    font-weight: bold;
                    color: var(--text);
                    letter-spacing: -2px;
                    white-space: nowrap;
                }
            }
        }
    }

    .aboutTITLE {
        opacity: 0;
        transition: 300ms ease-in;
    }

    .Page {
        position: fixed;
        top: 100%;
        left: 8%;
        width: 88%;
        opacity: 0;
        transition: 500ms ease-in;

        .TitleAbout_container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .Paragraphe {
                font-family: $font-family;
                color: var(--text);
                font-size: 40px;
                font-weight: normal;
                line-height: 3rem;

                .accent {
                    font-family: $font-family;
                    color: #f0c75f;
                    font-size: 50px;
                    font-weight: 900;
                    text-shadow: 0px 0px 8px #000000;
                }
            }

            .space {
                margin-bottom: 1%;
            }
        }
    }

    .aboutTEXT {
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 28%;
        left: 8%;
        height: 64%;
        opacity: 1;
        transition: 600ms ease-in-out 0.2s;
    }
}

.theme_dark {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background:
        linear-gradient(0deg, rgba(var(--color-r), var(--color-g), var(--color-b), 1) 0%, rgba(var(--color-r), var(--color-g), var(--color-b), 0) 20%),
        linear-gradient(180deg, rgba(var(--color-r), var(--color-g), var(--color-b), 1) 0%, rgba(var(--color-r), var(--color-g), var(--color-b), 0) 20%),
        url("https://images.pexels.com/photos/2117938/pexels-photo-2117938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
}

$navbar-height: 3.5rem;
$navbar-background-color: #333;
$navbar-text-color: #fff;
$burger-color: #fff;
$burger-hover-color: #ccc;

@media screen and (max-width: 1900px) {
    .Accueil {
        &_topbar {
            &_left {

                .Texte1 {
                    font-size: 64px;
                    letter-spacing: -4px;
                }

                &_logo {
                    width: 120px;
                    height: 120px;
                }
            }

            &_right {
                &_about {
                    &_button {
                        .ButtonAbout {
                            font-size: 32px;
                        }
                    }
                }

                &_contact {
                    a {
                        font-size: 32px;
                    }
                }

                &_CV {
                    a {
                        font-size: 32px;
                    }
                }

                .Linkedin {
                    width: 50px;
                    padding-bottom: 1%;
                }

                .Github {
                    width: 50px;
                    padding-bottom: 1%;
                }

                .Accueil_theme {
                    padding-bottom: 1%;
                }
            }
        }

        &_page {
            h1 {
                font-size: 64px;
                letter-spacing: -4px;
            }

            .Div_fleche {
                .Fleche {
                    &_img {
                        width: 6vw;
                    }

                    .Project {
                        font-size: 48px;
                    }
                }
            }
        }

        .Page {
            .TitleAbout_container {
                .Paragraphe {
                    font-size: 32px;

                    .accent {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .Accueil {
        display: flex;
        justify-content: space-between;
        width: 100vw;

        &_topbar {
            &_left {
                .Texte1 {
                    color: var(--text);
                    font-size: 32px;
                    letter-spacing: 2px;
                }

                &_logo {
                    display: none;
                }

                .Texte_first {
                    padding: 1rem;
                    margin-top: 15px;
                }
            }

            .navbar {
                background-color: var(--text);
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                border-radius: 4px;
                margin-right: 10px;

                .navbar-burger {
                    display: block;
                    cursor: pointer;
                    padding: 0.3rem;

                    span {
                        background-color: var(--background);
                        display: block;
                        height: 3px;
                        width: 30px;
                        margin: 6px auto;

                        &:first-child {
                            margin-top: 0;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    &:hover {
                        span {
                            background-color: $burger-hover-color;
                        }
                    }
                }

                .navbar-menu {
                    display: none;
                    position: absolute;
                    top: $navbar-height;
                    top: 70px;
                    right: 10px;
                    flex-direction: column;
                    justify-content: flex-end;

                    &.is-active {
                        display: flex;
                    }

                    .navbar-end {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100px;
                        gap: 1vh;

                        .itemBurger {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            height: 1.5rem;
                            width: 100%;
                            font-family: 'Libre Baskerville', serif;
                            font-weight: bold;
                            font-size: 16px;
                            font-weight: bold;
                            color: var(--link);
                            white-space: nowrap;

                            &:hover {
                                background-color: darken($navbar-background-color, 10%);
                            }
                        }

                        .iconeBurger {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                        }
                    }
                }
            }

            &_right {
                display: none;
            }
        }

        &_page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 88vh;
            gap: 14vh;
            margin: 0;
            transition: 400ms ease-in;

            h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70%;
                text-align: center;
                color: var(--text);
                font-size: 40px;
                letter-spacing: -4px;
            }

            .Div_fleche {
                .Fleche {
                    &_img {
                        width: 6vw;
                    }

                    .Project {
                        font-size: 24px;
                        padding-right: 0.8rem;
                    }
                }
            }
        }

        .aboutTITLE {
            display: none;
        }

        .pushTitle {
            height: 60vh;
            gap: 3vh;
            transition: 400ms ease-out 0s;
        }

        .Page {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            left: 5%;
            width: 92%;
            height: 80vh;

            .TitleAbout_container {
                .Paragraphe {
                    font-size: 16px;
                    line-height: 1.3rem;

                    .accent {
                        font-size: 20px;
                    }
                }
            }
        }

        .pushToMenu {
            margin-top: 230px;
        }

        .aboutTEXT {
            top: 14%;
            transition: 600ms ease-in-out 0s;
        }
    }
}

@media screen and (min-width: 2200px) {
    .Accueil {
        &_topbar {
            &_left {

                .Texte1 {
                    font-size: 104px;
                    letter-spacing: -4px;
                }

                &_logo {
                    width: 200px;
                    height: 200px;
                }
            }

            &_right {
                &_about {
                    &_button {
                        .ButtonAbout {
                            font-size: 56px;
                        }
                    }
                }

                &_contact {
                    a {
                        font-size: 56px;
                    }
                }

                &_CV {
                    a {
                        font-size: 56px;
                    }
                }

                .Linkedin {
                    width: 80px;
                }

                .Github {
                    width: 80px;
                }
            }
        }

        &_page {
            h1 {
                font-size: 104px;
                letter-spacing: -4px;
            }

            .Div_fleche {
                .Fleche {
                    &_img {
                        .Arrow {
                            width: 80%;
                        }
                    }

                    .Project {
                        font-size: 72px;
                    }
                }
            }
        }

        .Page {
            .TitleAbout_container {
                .Paragraphe {
                    font-size: 72px;

                    .accent {
                        font-size: 80px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 3000px) {
    .Accueil {

        &_topbar {
            &_left {

                .Texte1 {
                    font-size: 156px;
                    letter-spacing: -4px;
                }

                &_logo {
                    width: 300px;
                    height: 300px;
                }
            }


            &_right {
                &_about {
                    &_button {
                        .ButtonAbout {
                            font-size: 88px;
                        }
                    }
                }

                &_contact {
                    a {
                        font-size: 88px;
                    }
                }

                &_CV {
                    a {
                        font-size: 88px;
                    }
                }

                .Linkedin {
                    width: 120px;
                }

                .Github {
                    width: 120px;
                }
            }
        }

        &_page {
            h1 {
                font-size: 156px;
            }

            .Div_fleche {
                .Fleche {
                    &_img {
                        width: 4vw;
                    }

                    .Project {
                        font-size: 88px;
                    }
                }
            }
        }

        .Animation {
            scale: 1.5;
        }

        .Page {

            .TitleAbout_container {
                .Paragraphe {
                    font-size: 104px;

                    .accent {
                        font-size: 116px;
                    }
                }
            }
        }
    }
}