.Add {
    background-color: var(--background-color);
    width: 100%;

    .browse {
        display: none;
    }

    &_container {
        display: flex;
        align-items: center;
        justify-content: space-around;

        &_picture {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            width: 100%;

            &_image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 400px;
                height: 300px;
                border-radius: 10px;
                overflow: hidden;

                img {
                    object-fit: cover;
                    width: 100%;
                    border-radius: 10px;
                }
            }

            &_label {
                width: 340px;

                label {
                    font-size: 24px;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        color: var(--hover-button-color);
                        cursor: pointer;
                    }
                }

            }
        }

        .SelectFilter {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            select {
                width: 300px;
                text-align: center;
                height: 30px;
            }
        }
    }
}