* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
        // display: none;
    }
}

body {
    // background-color: red;
    overflow-x: hidden;
}

.App {
    background-color: grey;
    display: flex;
    width: 100vw;
    height: 100vh;
}

//------------------------------ Variables ----------------------------- //

.dark {
    --background-color: black;
    --color-r: 0;
    --color-g: 0;
    --color-b: 0;
    --background-container: #858585;
    --primary-color: #484848;
    --title-color: #DADADA;
    --hover-button-color: #EAEAEA;
    --hover-color: #858585;
    --secondary-color-1: #858585;
    --secondary-color-2: #FFFFFF;
    --text-color: white;
    --link-color: #D5D8DC;
}

.light {
    // BLANC :
    --background-color: white;
    --color-r: 255;
    --color-g: 255;
    --color-b: 255;
    --background-container: #FFFFFF;
    --primary-color: #F4F6F6;
    --title-color: rgb(20, 35, 220);
    --hover-color: #2e3176;
    --hover-button-color: #2e3176;
    --secondary-color-1: rgb(137, 145, 238);
    --secondary-color-2: #FFFFFF;
    --text-color: #000000;
    --link-color: #402a73;
    // BLEU :
    // --background-color: #EBF2FB;
    // --color-r: 235;
    // --color-g: 242;
    // --color-b: 251;
    // --background-container: #FFFFFF;
    // --primary-color: rgb(20, 35, 220);
    // --title-color: rgb(20, 35, 220);
    // --hover-color: #2e3176;
    // --hover-button-color: #2E3176;
    // --secondary-color-1: rgb(137, 145, 238);
    // --secondary-color-2: rgb(200, 203, 240);
    // --text-color: #292929;
    //VERT :
    // --background-color: #EDF6F3;
    // --color-r: 235;
    // --color-g: 242;
    // --color-b: 251;
    // --background-container: #ffffff;
    // --primary-color: #54AE8A;
    // --title-color: #54AE8A;
    // --hover-color: #214537;
    // --hover-button-color: #214537;
    // --secondary-color-1: #65B695;
    // --secondary-color-2: #BADED0;
    // --text-color: #292929;
    //ORANGE :
    // --background-color: #FDF0EB;
    // --color-r: 235;
    // --color-g: 242;
    // --color-b: 251;
    // --background-container: #ffffff;
    // --primary-color: #EB6E3C;
    // --title-color: #EB6E3C;
    // --hover-color: #8D4224;
    // --hover-button-color: #8D4224;
    // --secondary-color-1: #ED7C4F;
    // --secondary-color-2: #F7C5B1;
    // --text-color: #292929;
}

//------------------------------ Divers ----------------------------- //

$accent-color: rgb(150, 205, 50);
$error-delete-color: rgb(235, 110, 60);
$shadow-card: 4px 4px 20px rgba(20, 35, 220, 0.2);

//--------------------------- Family Fonts -------------------------- //

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

$font-family: 'Playfair Display', serif;
// 'Public Sans', sans-serif;
$font-family-2: 'Roboto', sans-serif;
// 'EB Garamond', serif;
$font-family-3: 'Sorts Mill Goudy', serif;

h1 {
    font-family: $font-family;
}

h2 {
    font-family: $font-family;
}

h3 {
    font-family: $font-family;
}

h4 {
    font-family: $font-family;
}

h5 {
    font-family: $font-family;
}

h6 {
    font-family: $font-family;
}

p,
small,
span,
a,
label {
    font-family: $font-family-3;
}

button {
    background-color: transparent;
    border: none;
    font-family: $font-family-3;
    font-size: 24px;
    cursor: pointer;
}

label {
    font-size: 1.75rem;
    line-height: 1.625rem;
    color: var(--title-color);
    margin-bottom: 4px;

    span {
        color: $error-delete-color;
    }
}

.input,
.select,
.textarea {
    all: unset;
    font-family: $font-family-3;
    width: 20em;
    height: 2em;
    border: 1px solid var(--secondary-color-1);
    font-size: 2rem;
    line-height: 1.625rem;
    padding-left: 0.5rem;
    border-radius: 0.6rem;
    transition: 0.3s ease-in-out;
    color: var(--title-color);

    &:hover {
        border: 1px solid var(--title-color);
    }

    &::placeholder {
        color: var(--secondary-color-1);
    }

    &:focus-within {
        outline: 1px solid var(--title-color);
    }

}

.messageError {
    display: flex;
    border: 1px solid $error-delete-color;
    background-color: rgba(245, 180, 154, 0.1);
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 50px;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    gap: 0.6rem;
    outline: 0;
    color: #DA4F18;
    font-size: 20px;
    font-style: italic;
    border-radius: 10rem;
    transition: 0.3s ease-in-out;


    &:hover {
        border: 1px solid #DA4F18;
    }

    p {
        color: black;
    }

    @keyframes FadeInOut {
        0% {
            opacity: 0;
        }

        5% {
            opacity: 1;
        }

        95% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}

.PrimaryButton {
    background-color: transparent;
    color: var(--title-color);
    font-size: 40px;

    &:hover {
        // background-color: var(--hover-color);
    }
}

// Components styles imports

@import "./Sidebar.scss";
@import "./Texte.scss";
@import "./Theme.scss";
@import "./Topbar.scss";

// Pages styles imports

@import "./Accueil.scss";
@import "./Login.scss";
@import "./Portfolio.scss";
@import "./MainPage.scss";