.icone {
    width: 100%;
}

.TextP {
    font-size: 28px;
    font-family: $font-family-5;
}

.TextPi {
    font-size: 28px;
    font-family: $font-family-5;
}

.Enigma {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    .Enigma_h4 {
        color: var(--enigma);
        font-family: $font-family-5;
        font-size: 32px;
        letter-spacing: -2px;
    }

    &_entete {
        background-color: var(--enigma);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50vh;
        font-size: 48px;
        border: none;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;

        h1 {
            color: white;
            letter-spacing: -2px;
        }
    }

    &_icones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
        gap: 8%;
        margin-top: 8%;
        margin-bottom: 6%;

        &_icone {
            width: 10%;
        }
    }

    .Enigma_title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 4%;
        width: 88%;
        margin-top: 10%;
        padding-bottom: 2%;

        .EnigmaLogo {
            background-color: #EEEEEE;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 160px;
            border: 1px solid gray;
            border-radius: 80px;

            .LogoEnigma {
                width: 100%;
            }
        }

        .P_title {
            font-family: $font-family;
            font-size: 104px;
            font-weight: bolder;
            letter-spacing: -2px;
            color: var(--enigma);
            text-shadow: 0px 0px 4px var(--theme);
        }
    }

    &_description {
        background-color: rgba(var(--color-r), var(--color-g), var(--color-b), 0.7);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 88%;
        padding: 5% 1% 5% 1%;
        margin: auto auto 8% auto;
        border: 2px solid var(--enigma);
        border-radius: 20px;

        .Enigma_h4 {
            color: var(--enigma);
            font-family: $font-family-5;
            font-size: 32px;
            letter-spacing: -2px;
        }

        &_left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 16%;
            height: 100%;
            padding-left: 1%;
        }

        &_middle {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30%;
            height: 100%;

            .Categorie {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            .Annee {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }

            .Client {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }

            .Front {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }

            .Back {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }

            .Sgbd {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }
        }

        &_right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 54%;
            padding-left: 4%;
            border-left: 1px solid var(--enigma);

            a {
                color: var(--link);
            }

            &_description {
                display: flex;
                flex-direction: column;
                line-height: 2em;
                color: var(--text);

                .Saut {
                    margin-bottom: 3%;
                }
            }
        }
    }

    &_screenshot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 200px;
        width: 86%;
        margin-top: 80px;
        margin-bottom: 100px;

        &_image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .picture {
                background-color: rgba(var(--color-r), var(--color-g), var(--color-b), 0.8);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1% 2% 1% 2%;
                border-radius: 100px;
                border: 1px solid var(--enigma);
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2%;
            overflow: hidden;

            img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                overflow: hidden;
                border: 1px solid gray;
                border-radius: 10px;
            }

            .lessBorder {
                border: none;
            }
        }
    }
}

@media screen and (max-width: 1900px) {
    .TextP {
        font-size: 20px;
    }

    .TextPi {
        font-size: 16px;
        line-height: 1.5em;
    }

    .Enigma {
        .Enigma_title {
            .P_title {
                font-size: 80px;
            }
        }

        &_icones {
            &_icone {
                width: 100px;
            }
        }

        &_entete {
            font-size: 32px;
        }

        &_description {
            &_left {

                .resolution {
                    font-size: 24px;
                }
            }

            &_right {
                gap: 20px;

                .resolution {
                    font-size: 24px;
                }
            }
        }

        .resolution {
            font-size: 24px;
        }
    }
}

@media screen and (min-width: 2200px) {
    .TextP {
        font-size: 32px;
    }

    .TextPi {
        font-size: 32px;
        line-height: 2em;
    }

    .Enigma {
        .Enigma_title {
            .P_title {
                font-size: 122px;
            }
        }

        &_entete {
            font-size: 64px;
        }

        &_description {
            &_left {
                .resolution {
                    font-size: 24px;
                }
            }

            &_right {
                .resolution {
                    font-size: 48px;
                }
            }
        }

        .resolution {
            font-size: 40px;
        }
    }
}

@media screen and (min-width: 3000px) {
    .TextP {
        font-size: 48px;
    }

    .TextPi {
        font-size: 48px;
        line-height: 2em;
    }

    .Enigma {
        .Enigma_title {
            .P_title {
                font-size: 168px;
            }
        }

        &_entete {
            font-size: 88px;
        }

        &_description {
            &_left {
                .resolution {
                    font-size: 24px;
                }
            }

            &_right {
                .resolution {
                    font-size: 48px;
                }
            }
        }

        .resolution {
            font-size: 56px;
        }
    }
}