.icone {
    width: 100%;
}

.TextP {
    font-size: 32px;
    font-family: $font-family-5;
}

.TextPi {
    font-size: 24px;
    font-family: $font-family-5;
}

.House {
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    .House_h4 {
        color: var(--house);
        font-family: $font-family-5;
        font-size: 32px;
        letter-spacing: -2px;
    }

    &_entete {
        background-color: var(--house);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50vh;
        font-size: 48px;
        border: none;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;

        h1 {
            color: white;
            letter-spacing: -2px;
        }
    }

    &_icones {
        // background-color: gray;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
        gap: 140px;
        margin-top: 8%;
        margin-bottom: 6%;

        &_icone {
            width: 100px;
        }
    }

    .House_title {
        // background-color: yellow;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        width: 90%;
        border-bottom: 2px solid var(--house);
        margin-top: 140px;
        padding-bottom: 30px;

        .HouseLogo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;

            #LogoHouse {
                width: 100%;
                border: 1px solid gray;
                border-radius: 50%;
            }
        }

        .TitleHouse {
            // background-color: pink;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font-family;
            font-size: 120px;
            font-weight: bolder;
            letter-spacing: -2px;
            white-space: nowrap;
            color: var(--house);
            padding-top: 20px;
        }
    }

    &_description {
        // background-color: orange;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 80vh;

        .House_h4 {
            color: var(--house);
            font-family: $font-family-5;
            font-size: 32px;
            letter-spacing: -2px;
        }

        &_left {
            // background-color: aqua;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 12vh;
            width: 14%;
            height: 100%;
            padding-left: 10px;
        }

        &_middle {
            // background-color: pink;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 12vh;
            width: 28%;
            height: 100%;

            .Categorie {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            .Annee {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }

            .Client {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }

            .Front {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }

            .Back {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }

            .Sgbd {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }
        }

        &_right {
            // background-color: blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 58%;
            height: 100%;
            gap: 50px;

            a {
                color: var(--link);
            }

            &_description {
                // background-color: aquamarine;
                background-color: rgba(var(--color-r), var(--color-g), var(--color-b), 0.8);
                display: flex;
                flex-direction: column;
                line-height: 2.25em;
                border: 1px solid var(--house);
                border-radius: 10px;
                padding: 20px;
                color: var(--text);

                .Saut {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .House_padding {
        width: 90%;
        text-align: center;
        border-top: 2px solid var(--house);
        padding-top: 140px;
    }

    &_screenshot {
        // background-color: green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 200px;
        width: 86%;
        margin-top: 80px;
        margin-bottom: 100px;

        a {
            // background-color: blue;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                overflow: hidden;
                border: none;
                border-radius: 10px;
                border: 1px solid gray;
            }
        }
    }
}