.Portfolio {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background:
        linear-gradient(0deg, rgba(var(--color-r), var(--color-g), var(--color-b), 1) 0%, rgba(var(--color-r), var(--color-g), var(--color-b), 0) 20%),
        linear-gradient(180deg, rgba(var(--color-r), var(--color-g), var(--color-b), 1) 0%, rgba(var(--color-r), var(--color-g), var(--color-b), 0) 20%),
        url("https://images.pexels.com/photos/2824173/pexels-photo-2824173.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    &_left {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 22%;
        height: 100vh;

        .Sidebar {
            display: flex;
            width: 90%;
            height: 98%;
        }

        .Sidebar_mini {
            display: flex;
            width: 84%;
            height: 98%;
        }
    }

    .version_mini {
        width: 8%;
    }

    .Right {
        display: flex;
        width: 78%;
    }

    .Right_mini {
        display: flex;
        width: 92%;
    }

}

.PortfolioDark {
    background:
        linear-gradient(0deg, rgba(var(--color-r), var(--color-g), var(--color-b), 1) 0%, rgba(var(--color-r), var(--color-g), var(--color-b), 0) 20%),
        linear-gradient(180deg, rgba(var(--color-r), var(--color-g), var(--color-b), 1) 0%, rgba(var(--color-r), var(--color-g), var(--color-b), 0) 20%),
        url("https://images.unsplash.com/photo-1542885421-3fb3de1f9f0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1972&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.goutte {
    // background-color: red;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    top: 3%;
    left: 97%;
    gap: 20px;
}