.Portfolio {
    width: 100%;

    .Sidebar {
        position: fixed;
        display: flex;
        top: -1px;
        width: 20%;
        height: 100vh;
    }
    .Sidebar_mini {
        position: fixed;
        display: flex;
        top: -1px;
        width: 6%;
        height: 100vh;
    }

    .Right {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 20%;

        .Topbar {
            // background-color: pink;
            // position: fixed;
            // width: 100%;
            // height: 80px;
        }

        .Main {
            background-color: lightcoral;
            width: 100%;
            height: 100%;
            // margin-top: 80px;
        }
    }
}