  .Scroll_container {
      //   background-color: green;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;

      &_image {
          width: 60px;
          height: 50px;

          &_icone {
              animation-duration: 3s;
              animation-name: clignoter;
              animation-iteration-count: infinite;
              transition: none;
              width: 100%;
              height: 100%;
              scale: 1.5;
          }

          @keyframes clignoter {
              0% {
                  opacity: 0.5;
              }

              20% {
                  opacity: 0.5;
              }

              100% {
                  opacity: 0;
              }
          }
      }
  }