.icone {
    width: 100%;
}

.TextP {
    font-size: 32px;
    font-family: $font-family-5;
}

.TextPi {
    font-size: 24px;
    font-family: $font-family-5;
    line-height: 2.25rem;
}

.python {
    color: var(--python);
}

.cpp {
    color: var(--cpp);
}

.preact {
    color: var(--preact);
}

.pascal {
    color: var(--pascal);
}

.pythonDescription {
    padding-left: 4%;
    border-left: 1px solid var(--python);
}

.cppDescription {
    padding-left: 4%;
    border-left: 1px solid var(--cpp);
}

.preactDescription {
    padding-left: 4%;
    border-left: 1px solid var(--preact);
}

.pascalDescription {
    padding-left: 4%;
    border-left: 1px solid var(--pascal);
}

.pythonContour {
    border: 2px solid var(--python);

}

.cppContour {
    border: 2px solid var(--cpp);
}

.preactContour {
    border: 2px solid var(--preact);
}

.pascalContour {
    border: 2px solid var(--pascal);
}

.Software {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 100px;

    .back {
        display: none;
    }

    .Software_h4 {
        font-family: $font-family-5;
        font-size: 32px;
        letter-spacing: -2px;
    }

    &_entete {
        background-color: var(--preact);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50vh;
        font-size: 48px;
        border: none;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;

        h1 {
            color: white;
            letter-spacing: -2px;
        }
    }

    &_icones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
        gap: 10%;
        margin-top: 8%;
        margin-bottom: 6%;

        &_icone {
            width: 10%;
        }
    }

    &_title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 88%;
        gap: 5%;
        margin-top: 200px;

        .SoftwareLogo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;

            #LogoSoftware {
                width: 100%;
                border: 1px solid gray;
                border-radius: 50%;
            }
        }

        .TitleSoftware {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font-family;
            font-size: 120px;
            font-weight: bolder;
            letter-spacing: -2px;
            white-space: nowrap;
            padding-top: 20px;
            text-shadow: 0px 0px 4px var(--theme);
        }
    }


    &_description {
        background-color: rgba(var(--color-r), var(--color-g), var(--color-b), 0.7);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 88%;
        padding: 5% 1% 5% 1%;
        margin: auto auto 8% auto;
        border-radius: 20px;

        .Software_h4 {
            font-family: $font-family-5;
            font-size: 32px;
            letter-spacing: -2px;
        }

        &_left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 35%;
            height: 100%;
            padding-left: 1%;
        }

        &_middle {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 25%;
            height: 100%;
        }

        &_right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-right: 2%;
            width: 50%;

            a {
                color: var(--link);
            }

            &_description {
                display: flex;
                flex-direction: column;
                line-height: 3em;
                color: var(--text);

                .Saut {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 1900px) {
    .TextP {
        font-size: 20px;
    }

    .TextPi {
        font-size: 16px;
        line-height: 1.5em;
    }

    .Software {
        .Software_title {
            .P_title {
                font-size: 80px;
            }
        }

        &_icones {
            &_icone {
                width: 100px;
            }
        }

        &_entete {
            font-size: 32px;
        }

        &_description {

            &_left {

                .resolution {
                    font-size: 24px;
                }
            }

            &_right {
                gap: 20px;

                .resolution {
                    font-size: 24px;
                }
            }
        }

        .resolution {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .TextP {
        font-size: 20px;
    }

    .TextPi {
        font-size: 16px;
        line-height: 1.5em;
    }

    .Software {
        width: 100%;

        .back {
            position: absolute;
            top: 10px;
            left: 10px;
            display: flex;
            width: 50px;
            height: 50px;

            .button_back {

                img {
                    width: 100%;
                }
            }
        }

        &_icones {
            width: 100%;

            &_icone {
                width: 40px;
            }
        }

        &_entete {
            width: 100%;
            height: 200px;
            font-size: 20px;
        }

        .scrollContainer {
            display: none;
        }

        .Software_title {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 96%;
            gap: 1%;
            margin-top: 50px;
            margin-bottom: 20px;

            .Software_icones_icone {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
            }

            .TitleSoftware {
                vertical-align: middle;
                font-size: 56px;
                padding-bottom: 10px;
                ;
            }
        }

        &_description {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 96%;
            height: 100%;

            &_left {
                display: none;

                .resolution {
                    font-size: 24px;
                }
            }

            &_middle {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 30%;
                height: 500px;
                margin: 0;


                .Categorie {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                    padding: 1rem;
                }

                .Annee {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                    padding: 1rem;
                }

                .Client {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                    padding: 1rem;
                }

                .Front {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                    padding: 1rem;
                }

                .Back {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                    padding: 1rem;
                }

                .Sgbd {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                    padding: 1rem;
                }
            }

            &_right {
                width: 70%;

                .resolution {
                    font-size: 24px;
                }
            }
        }

        .resolution {
            font-size: 24px;
        }
    }
}

@media screen and (min-width: 2200px) {
    .TextP {
        font-size: 32px;
    }

    .TextPi {
        font-size: 32px;
    }

    .Software {
        .Software_title {
            .P_title {
                font-size: 122px;
            }
        }

        &_entete {
            font-size: 64px;
        }

        &_description {
            &_left {
                .resolution {
                    font-size: 24px;
                }
            }

            &_right {
                &_description {
                    line-height: 5em;
                }

                .resolution {
                    font-size: 40px;
                }
            }
        }

        .resolution {
            font-size: 40px;
        }
    }
}

@media screen and (min-width: 3000px) {
    .TextP {
        font-size: 48px;
    }

    .TextPi {
        font-size: 48px;
        line-height: 2em;
    }

    .Software {
        .Software_title {
            .P_title {
                font-size: 168px;
            }
        }

        &_entete {
            font-size: 88px;
        }

        &_description {
            &_left {
                .resolution {
                    font-size: 24px;
                }
            }

            &_right {
                &_description {
                    line-height: 7em;
                }

                .resolution {
                    font-size: 48px;
                }
            }
        }

        .resolution {
            font-size: 56px;
        }
    }
}