.cursor {
    animation-duration: .6s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

.wrap {
    font-family: 'Libre Baskerville', serif;
    font-size: 64px;
    letter-spacing: -4px;
}

.txt-rotate {}

@keyframes clignoter {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}