.Theme {
    // background-color: blue;
    width: 32px;
    padding-top:14px;

    button {
        background-color: transparent;
        border: none;
        width: 100%;

        img {
            width: 100%;
        }
    }
}