.Theme {
    // background-color: blue;
    width: 48px;
    height: 100%;

    button {
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            padding-top: 6px;
        }
    }
}