.Topbar {
    // background-color: green;
    position: fixed;
    display: flex;
    align-items: center;
    top: 10px;
    left: 420px;
    width: 78%;
    height: 80px;

    &_mini {
        position: fixed;
        display: flex;
        align-items: center;
        top: 10px;
        left: 160px;
        width: 92%;
        height: 80px;
    }

    &_container {
        background:
            // linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%),
            linear-gradient(270deg, rgba(132, 132, 255, 0.4) 0%, rgba(255, 100, 236, 0.4) 100%),
            url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 99%;
        height: 100%;
        border-radius: 20px;
        border: 1px solid white;

        &_dark {
            background:
                linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%),
                linear-gradient(270deg, rgba(55, 147, 146, 0.4) 0%, rgba(121, 30, 148, 0.6) 100%),
                url("https://images.pexels.com/photos/1225236/pexels-photo-1225236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 99%;
            height: 100%;
            border-radius: 20px;
            border: 1px solid white;
        }


        &_left {
            // background-color: blue;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 10px;
            width: 20%;

            &_link {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 100%;
            }
        }

        &_middle {
            // background-color: aquamarine;
            display: flex;
            width: 60%;

            &_element {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }

        &_right {
            // background-color: pink;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 20%;

            a {
                // background-color: blue;
                display: flex;
                height: 40px;
                font-size: 32px;
                color: var(--link);
                text-decoration: none;
            }
        }
    }
}