.icone {
    width: 100%;
}

h4 {
    color: red;
}

.Wild {
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    &_entete {
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 40vh;
        font-size: 40px;
        border: none;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;

        h1 {
            color: white;
        }
    }

    &_icones {
        background-color: gray;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
        gap: 60px;
        padding: 50px;

        &_icone {
            width: 80px;
            height: 78px;
        }
    }

    &_description {
        // background-color: yellow;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;

        &_left {
            background-color: aqua;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 220px;
            height: 100%;
        }

        &_middle {
            background-color: pink;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 50%;
            height: 100%;

            .Categorie {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            .Annee {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }

            .Client {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }

            .Front {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }

            .Back {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }

            .Sgbd {
                display: flex;
                flex-direction: row;
                gap: 100px;
            }
        }

        &_right {
            background-color: aquamarine;
            display: flex;
            flex-direction: column;
            width: 100%;
            line-height: 1.75em;
        }
    }

    &_screenshot {
        background-color: green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 86%;
        margin: 50px auto 40px auto;

        &_image {
            background-color: blue;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 60px auto;
            border-radius: 5px;
            overflow: hidden;

            img {
                max-width: 100%;
                margin: 0 auto;
                border-radius: 5px;
            }
        }
    }
}